# encryption = "age"
# [age]
#   identity = "~/.config/chezmoi/key.txt"
#   recipient = "age1wuy4yj8mxkuu6yuxnejfvvy8tvseqxcu3vuthkga0vnup5hywc0s8m8763"

[data]
  is_mac = {{ eq .chezmoi.os "darwin" }}
  is_linux = {{ eq .chezmoi.os "linux" }}
