worker_processes auto;

events {
    worker_connections 1024;
}

http {
    include mime.types;
    default_type application/octet-stream;
    types_hash_max_size 2048;

    sendfile on;
    keepalive_timeout 65;

    include /etc/nginx/sites-enabled/*;
}
